<div class='container'>
    <h3> Hi {{currentUser.name}}</h3><br/>
    <div class='row'>
      <div class = 'col-md-3 offset-md-9'>
        <a href='#' (click)='logout()'>logout</a><br/><br/>
      </div>
      <div class = 'col-md-3 offset-md-9'>
        <app-search
          (apptEventEmitter)= 'search($event)'>
        </app-search>
      </div>
    </div>
    <div><a [routerLink]="['new_question']">Add Question</a><br/><br/></div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Answers</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let q of filteredQuestions'>
            <td>{{q.user_question}}</td>
            <td>{{getCount(q._id)}}</td>
            <td><a [routerLink]="['question', q._id]">Show</a>  <a [routerLink]="['question', q._id, 'new_answer']">Answer</a></td>
          </tr>
        </tbody>
    </table>
  </div>
